.navigation {
  margin: 13px 0 0 0;
}

.navigation ul li {
  display: inline;
  margin: 0 20px 0 0;
  margin-bottom: 130px;
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.clearfix {
  overflow: auto;
}
