<template>
    <div class="container">
        <div class="row message" v-html="messageMarkDown"></div>

        <div class="row">
            <div class="eight columns">
                <b>            
                    {{ time }}
                </b>
            </div>
            <div class="two columns">
                <button class="button-primary" @click="showModal = true">UPDATE</button>
            </div>
            <div class="two columns">
                <button class="button-error" @click="removeEntry">DELETE</button>
            </div>                
        </div>

        <modal 
            v-if="showModal" 
            :entry="entry"
            @close="showModal = false" 
            @update-entry="updateEntry"
        ></modal>
    </div>            
</template>

<script>
    import Modal from './util/Modal.vue'

    export default {
        name: 'entry',
        props: ['entry'],
        components: {
            Modal
        },
        data() {
            return {
                showModal: false,
                updatedMessage: ''
            }
        },
        computed: {
            index() {
                return this.entry.key
            },
            message() {
                return this.entry.data.note
            },
            messageMarkDown() {
                return window.marked(this.entry.data.note, { sanitize: true })
            },
            time() {
                return window.moment(new Date(this.entry.data.time)).format(window.timeformat)
            },
            currenttime() {
                return window.moment().format()
            }
        },
        methods: {
            updateEntry(note) {                
                db.database().ref('entries/' + this.index).set({
                    note: note,
                    time: this.currenttime
                })

                this.showModal = false

                window.Event.fire('reload')                
            },
            removeEntry() {
                db.database().ref('entries/' + this.index).remove()

                window.Event.fire('reload')
            }
        },
        mounted() {
            this.updatedMessage = this.message
        }
    }
</script>

<style scoped>
    .container {
        border: solid 0.1rem #000;
        border-radius: 2rem;
        padding: 2rem 2rem 0 2rem;
        margin-bottom: 2rem;
    }

    .message {
        padding-bottom: 2rem;
    }

    .button-error {
        color: #FFF;
        background: #F14;
    }
</style>