<template>
    <div>
        <form id="entryform" @submit.prevent="save">
            <template v-if="usemarkdown">
                <textarea 
                    class="markdown" 
                    placeholder="Message..."
                    :value="message" 
                    @keyup.exact="update"
                    @keyup.ctrl.enter.exact="save"
                ></textarea>

                <div v-html="compiledMarkdown"></div>
            </template>
            
            <template v-else>
                <textarea 
                    class="u-full-width" 
                    placeholder="Message..."
                    v-model="message"
                    @keyup.ctrl.enter="save"
                ></textarea>
            </template>
            
            <label>
                <input type="checkbox" v-model="usemarkdown">
                <span class="label-body">Use Markdown</span>
            </label>

            <input class="button-primary" type="submit" value="Submit">            
        </form>        
    </div>
</template>

<script>
    import _ from 'lodash'

    export default {
        name: 'entryform',            
        data() {
            return this.initial()            
        },
        computed: {
            compiledMarkdown() {
                return window.marked(this.message, { sanitize: true })
            }
        },
        methods: {
            initial() {
                return {
                    message: '',
                    usemarkdown: false
                }
            },
            resetForm() {                
                this.message = ''
            },
            save() {
                window.Event.fire('toggle-loading-spinner')

                let newKey = db.database().ref().child('entries').push().key;
                
                db.database().ref('entries/' + newKey).set({
                    note: this.message,
                    time: window.moment().format()
                })

                window.Event.fire('reload')

                this.resetForm()

                window.Event.fire('toggle-loading-spinner')
            },
            update: _.debounce(function(e) {
                this.message = e.target.value
            }, 300)
        },
        mounted() { },
    }
</script>

<style scoped>
    textarea.markdown, #entryform div {
        display: inline-block;
        width: 49%;
        height: 25%;
        vertical-align: top;
        box-sizing: border-box;
        padding: 0 20px;
    }

    textarea.markdown {
        border: none;
        border-right: 1px solid #ccc;
        resize: none;
        outline: none;
        background-color: #f6f6f6;
        font-size: 14px;
        font-family: 'Monaco', courier, monospace;
        padding: 20px;
    }

    .buttons {        
        float: right;
    }
</style>