<template>
    <div class="container">        
        <entryform></entryform>

        <entry
            v-for="(entry, index) in entries" 
            :key="index"
            :entry="entry"
            class="row"
        >
        </entry>
    </div>
</template>

<script>    
    import EntryForm from './EntryForm.vue'
    import Entry from './Entry.vue'

    export default {
        components: {            
            Entry,
            'entryform': EntryForm
        },
        data() {
            return {
                entries: [],
                user: window.fb.auth().currentUser
            }
        },
        methods: {
            load() {
                let self = this

                window.Event.fire('toggle-loading-spinner')

                db.database().ref('/entries').once('value').then(function(snapshot) {     
                    self.entries = []
                    let temp = []

                    let data = snapshot.val()
                    
                    if(data) {
                        for (var i in data){
                            if (data.hasOwnProperty(i)) {
                                temp.push({
                                    key: i,
                                    data: data[i]
                                })
                            }
                        }
                    }

                    self.entries = temp.reverse()

                    window.Event.fire('toggle-loading-spinner')
                })
            }
        },
        mounted() {
            let self = this            

            if(self.user) {
                self.load()

                window.fb.auth().onAuthStateChanged((user) => {
                    self.user = user
                })

                window.Event.listen('reload', () => {
                    self.load()
                })
            } else {
                this.$router.push('login')
            }
        },
    }
</script>

<style scoped>
    .row {
        padding-bottom: 1.5rem;
    }
</style>