<template>
    <div class="band navigation">
        <div class="container primary">
            <div class="sixteen columns">
                <ul>
                    <li>
                        <router-link to="/">Home</router-link>
                    </li>
                    <li>
                        <router-link to="/about">About</router-link>
                    </li>
                    <li>
                        <router-link to="/journal">Journal</router-link>
                    </li>
                    <li v-if="!user">
                        <router-link to="/login">Login</router-link>
                    </li>
                    <li v-else>
                        <a href="#" @click="logout">Logout</a>
                    </li>                    
                    <!--<li>
                        <router-link to="/signup">Sign Up</router-link>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'journalnav',
        data() {
            return {
                user: window.fb.auth().currentUser
            }
        },
        methods: {
            logout() {
                window.fb.auth().signOut().then(() => {                    
                    this.$router.push({ name: 'login', query: { redirect: '/login' } });
                }, (error) => {
                    console.error('Sign Out Error', error)
                })
            },
            gotojournal() {
                this.$router.push('journal')                
            }
        },
        mounted() {
            window.fb.auth().onAuthStateChanged((user) => {
                this.user = user

                if(this.$router.currentRoute.name == "login" && user) {
                    this.gotojournal()
                }
            })

            if(this.user) {                
                gotojournal()
            }
        },
    }
</script>

<style scoped>

</style>