<template>
  <div>
    <div v-if="show" class="loading-box">
      <div class="mask">
        <div class="maskedCircle"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false
    }
  },
  mounted() {
    let self = this
    Event.listen('toggle-loading-spinner', () => {
      self.show = !self.show
    })
  }
}
</script>

<style scoped>
/*loading*/

#loading-box,
.loading-box {
  animation: spin 1s infinite linear;
  position: absolute;
  z-index: 4;
  left: calc(50% - 48px);
  top: calc(50% - 48px);
  width: 96px;
  height: 96px;
}

.mask {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.maskedCircle {
  width: 96px;
  height: 96px;
  border-radius: 48px;
  border: 9px solid #228;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>