<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container clearfix">
          <div class="modal-header">
            <slot name="header">
              <h3>Edit</h3>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <textarea 
                    class="u-full-width" 
                    placeholder="Message..."
                    v-model="message"
                    @keyup.ctrl.enter="update"
              ></textarea>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer"></slot>
            
             <div class="row">
                <div class="eight columns">&nbsp;</div>
                <div class="two columns">                    
                  <button class="modal-default-button button-primary" @click="update">Done</button>
                </div>
                <div class="two columns">
                  <button class="modal-default-button" @click="$emit('close')">Cancel</button>                    
                </div>                
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: ['entry'],
  computed: {
    index() {
      return this.entry.key
    },
    originalMessage() {
      return this.entry.data.note
    }
  },
  data() {
    return {
      message: ''
    }
  },
  methods: {
    update() {
      this.$emit('update-entry', this.message)
    }
  },
  mounted() {
    this.message = this.originalMessage
  }
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 50%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>