<template>
  <div>
    <loader></loader>
  
    <journalnav></journalnav>

    <router-view></router-view>    
  </div>
</template>

<script>
import Loader from './components/Loader.vue'
import JournalNav from './components/JournalNav.vue'
import Journal from './components/Journal.vue'

export default {
  name: 'app',
  components: {
    Loader, 
    'journalnav': JournalNav, 
    Journal
  },
  mounted() {
    console.info('%c App mounted...', 'color: blue')
  }
}
</script>

<style>
    .center {
        text-align: center;
    }
</style>
