<template>
    <form 
        class="container center"
        @submit.prevent="login"
    >
        <h3>Sign In</h3>

        <div class="row">
            <div class="twelve columns">
                <input 
                    type="text" 
                    placeholder="email"
                    v-model="email" 
                    @keyup.ctrl.enter="login"
                >
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <input 
                    type="password" 
                    placeholder="password"
                    v-model="password" 
                    @keyup.ctrl.enter="login"
                >
            </div>
        </div>

        <input class="button-primary" type="submit" value="Login">

        <!-- <p>
            Don't have an account? 
            <router-link to="/signup">Signup</router-link>
        </p> -->
    </form>   
</template>

<script>
export default {
  name: "login",
  data() {
    return {
        email: '',
        password: ''
    }
  },
  methods: {
    login() {
        window.Event.fire('toggle-loading-spinner')

        window.fb.auth().signInWithEmailAndPassword(this.email, this.password).then(() => {
            window.Event.fire('toggle-loading-spinner')
        }).catch((error) => {
            window.Event.fire('toggle-loading-spinner')
                     
            console.error(error)

            window.swal({
                title: 'Login Failed',
                text: error.message,
                type: 'error'
            })
        })
    }
  },
  mounted() {}
}
</script>

<style scoped>

</style>