<template>
    <form 
      class="container center"
      @submit.prevent="signup"
    >
        <h3>Sign Up</h3>

        <div class="row">
          <div class="twelve columns">            
            <input 
                type="text"
                placeholder="email"
                v-model="email" 
            >
          </div>  
        </div>
        <div class="row">
          <div class="twelve columns">            
            <input 
                type="password" 
                placeholder="password"
                v-model="password" 
            >
          </div>  
        </div>
        <div class="row">
          <div class="twelve columns">            
            <input 
                type="password" 
                placeholder="password repeat"
                v-model="passwordrepeat" 
            >
          </div>  
        </div>

        <input class="button-primary" type="submit" value="Sign Up">

        <p>
            Already have an account? 
            <router-link to="/login">Login</router-link>
        </p>
    </form>   
</template>

<script>
export default {
  name: "signup",
  data() {
    return {
      email: "",
      password: "",
      passwordrepeat: ""
    };
  },
  methods: {
    signup() {
      if (this.password == this.passwordrepeat) {
        console.log("sign up...", this.email, this.password);

        window.fb.auth()
          .createUserAndRetrieveDataWithEmailAndPassword(this.email, this.password)
          .then(function(onResolve, onReject) {
            console.log(onResolve, onReject)
          })
          .catch(function(error) {
            // Handle Errors here
            var errorCode = error.code
            var errorMessage = error.message
            if (errorCode == "auth/weak-password") {
              alert("The password is too weak.")
            } else {
              alert(errorMessage)
            }
            console.log(error)
          })
      }
    }
  },
  mounted() {}
}
</script>

<style scoped>
</style>